* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

.js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}
.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
