.footer-bg {
  background: #302c22;
}

.footer {
  display: grid;
  text-align: center;
  justify-items: center;
  max-width: 1400px;
  margin: 0 auto;
  gap: 10px;
  align-items: center;
  padding: 40px 20px;
}

.footer img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer p {
  color: #ffffff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
  line-height: 1rem;
  margin-bottom: 20px;
  max-width: 100ch;
}
